{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="auth layout">

  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Capture Label</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Take a snapshot of a label</h2>

        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form__group form__group">
            <label for="room_name">Image</label>

            <div id="videoContainer">
                <video id="video"></video>
                <button id="captureButton">Capture Label</button>
            </div>
          
            <input type="hidden" id="image" name="image">
          </div>
       
        </form>

      </div>
    </div>
  </div>

</main>
<script src="{% static 'js/camera.js' %}"></script>
{% endblock content %}